<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persona Bags</title>
    <link rel="stylesheet" href="css/catalogo.css">
</head>
<body>
<!--partenavegador-->
<div class="navegador">
    <input id="busca" type="text" img="img/" placeholder="www.personabags.com.br">
    <a href="#"><img id="icons"src="img/computer (1).png"></a>
    <div class="dropdown">
      <button class="dropbtn"><img id="icons"src="img/tally-3 (1).png"></button>
      <div class="dropdown-content">
        <a href="#">Meus Pedidos</a>
        <a href="#">Carrinho</a>
        <a href="#">Minha conta</a>
      </div>
  </div>
</div>
<!--cabecalho-->
<div class="container">
<div class="cabecalho">
  <a href="index.html"><img id="logo"src="img/LogoProjeto2-removebg-preview.png"></a>
  <div class="titulo">
    <h1>Persona bags</h1>
    <p id="cabecalhotxt">Carregue sua personalidade com você</p>
  </div>
</div>
<div class="espaço">
<div class="quadradinho"></div>
<div class="quadradinho2"></div>
<div class="botaos">
  <a id="botao" href="sobre.html"> SOBRE </a>
  <a id="botao"href="catalogo.html"> CATÁLOGO </a>
  <a id="botao"href="ajuda.html"> AJUDA </a>
  <a id="botao"href="login.html"> LOGIN </a>
  <img id="icons"src="img/Vector.png">
</div>
</div>
<!--conteudo catalogo-->
<div class="conteudo">
   <div class="catalogo">
     <p id="titulo">Catálogo</p>
     <a id="a" href="#">Mochilas</a>
     <a id="a" href="#">Bolsas</a>
     <a id="a" href="#">Estojos</a>
     <a id="a" href="#">Carteiras</a>
     <a id="a" href="#">Necessaire</a>
     <a id="a" href="#">Edição Limitada</a>
   </div>
   <div class="produtos">
     <div class="linha">
       <div id="blocos">
         <img src="img/image 1.png">
         A partir de:
         <p id="preco">R$24,90</p>
       </div>
       <div id="blocos">
         <img src="img/image 2.png">
         A partir de:
         <p id="preco">R$19,90</p>
       </div>
       <div id="blocos">
         <img src="img/image 3.png">
         A partir de:
         <p id="preco">R$39,90</p>
       </div>
     </div>
     <!--linha 2-->
     <div class="linha">
      <div id="blocos">
        <img src="img/image 4.png">
        A partir de:
        <p id="preco">R$26,90</p>
      </div>
      <div id="blocos">
        <img src="img/image 5.png">
        A partir de:
        <p id="preco">R$69,90</p>
      </div>
      <div id="blocos">
        <img src="img/image 6.png">
        A partir de:
        <p id="preco">R$12,90</p>
      </div>
     </div>
   </div>
</div>
<!--rodape-->
<div class="rodape">
    <a href="#">Telefone</a>
    <a href="#">Segurança</a>
    <a href="#">Avalie-nos</a>
    <a href="#">Fale conoco</a>
</div>
<div class="quadradinho3"></div>
<div class="quadradinho4"></div>
<!--formas geometricas do fundo-->
  <div id="circulo">
  </div>
  <div id="circulo2">
  </div>
  <div id="circulo22">
  </div>
  <div id="circulo3">
  </div>
  <div id="circulo4">
  </div>
</div>
</body>
</html>