<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persona Bags</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<!--partenavegador-->
<div class="navegador">
    <input id="busca" type="text" img="img/" placeholder="www.personabags.com.br">
    <a href="#"><img id="icons"src="img/computer (1).png"></a>
    <div class="dropdown">
      <button class="dropbtn"><img id="icons"src="img/tally-3 (1).png"></button>
      <div class="dropdown-content">
        <a href="#">Meus Pedidos</a>
        <a href="#">Carrinho</a>
        <a href="#">Minha conta</a>
      </div>
  </div>
</div>
<!--cabecalho-->
<div class="container">
<div class="cabecalho">
  <a href="index.html"><img id="logo"src="img/LogoProjeto2-removebg-preview.png"></a>
  <div class="titulo">
    <h1>Persona bags</h1>
    <p id="cabecalhotxt">Carregue sua personalidade com você</p>
  </div>
</div>
<div class="espaço">
<div class="quadradinho"></div>
<div class="quadradinho2"></div>
<div class="botaos">
  <a id="botao" href="sobre.html"> SOBRE </a>
  <a id="botao"href="catalogo.html"> CATÁLOGO </a>
  <a id="botao"href="ajuda.html"> AJUDA </a>
  <a id="botao"href="login.html"> LOGIN </a>
  <img id="icons"src="img/Vector.png">
</div>
</div>
<div class="content">
<div class="login">
    <div class="titulo">
      <p id="login">Login</p>
    </div>
    <div class="conteudo">
       E-mail ou CPF:
       <input type="text">
       Senha:
       <input type="password">
       <div class="cadastro">
        <p>Não possui uma conta?</p>
        <a id="cadastro" href="#">Cadastre-se</a>
       </div>
       <div class="imgs">
        <a href="www.google.com.br"><img src="img/Google.png"></a>
        <a href="www.googleplus.com.br"><img src="img/Google plus.png"></a> 
        <a href="www.gmail.com.br"><img src="img/Gmail.png"></a> 
       </div>
    </div>
</div>
</div>
<div class="rodape">
    <a href="#">Telefone</a>
    <a href="#">Segurança</a>
    <a href="#">Avalie-nos</a>
    <a href="#">Fale conoco</a>
</div>
<div class="quadradinho3"></div>
<div class="quadradinho4"></div>
  <!--formas geometricas do fundo-->
  <div id="quadrado">
  </div>
  <div id="circulo">
  </div>
  <div id="triangulo">
  </div>
  <div id="circulo2">
  </div>
</div>
</body>
</html>