<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persona Bags</title>
    <link rel="stylesheet" href="css/sobre.css">
</head>
<body>
<!--partenavegador-->
<div class="navegador">
    <input id="busca" type="text" img="img/" placeholder="www.personabags.com.br">
    <a href="#"><img id="icons"src="img/computer (1).png"></a>
    <div class="dropdown">
      <button class="dropbtn"><img id="icons"src="img/tally-3 (1).png"></button>
      <div class="dropdown-content">
        <a href="#">Meus Pedidos</a>
        <a href="#">Carrinho</a>
        <a href="#">Minha conta</a>
      </div>
  </div>
</div>
<!--cabecalho-->
<div class="container">
<div class="cabecalho">
  <a href="index.html"><img id="logo"src="img/LogoProjeto2-removebg-preview.png"></a>
  <div class="titulo">
    <h1>Persona bags</h1>
    <p id="cabecalhotxt">Carregue sua personalidade com você</p>
  </div>
</div>
<div class="espaço">
<div class="quadradinho"></div>
<div class="quadradinho2"></div>
<div class="botaos">
  <a id="botao" href="sobre.html"> SOBRE </a>
  <a id="botao"href="catalogo.html"> CATÁLOGO </a>
  <a id="botao"href="ajuda.html"> AJUDA </a>
  <a id="botao"href="login.html"> LOGIN </a>
  <img id="icons"src="img/Vector.png">
</div>
</div>
<!--conteudo sobre-->
<div class="conteudo">
    <p id="titulo">Quem somos nós?</p>
    <div class="bloco">
         <div class="txt">
            <p>A Persona Bags é uma loja perfeita para quem procura personalizar itens
                escolares e universitários como bolsas, estojos, mochilas e outros
                pertences.
                Ter seus pertences com uma pitada de originalidade é mais importante 
                do que você imagina, por isso a nossa loja está pronta para te levar 
                a qualquer lugar com os produtos da Persona Bags!</p>
         </div>
    </div>
</div>
<div class="rodape">
    <a href="#">Telefone</a>
    <a href="#">Segurança</a>
    <a href="#">Avalie-nos</a>
    <a href="#">Fale conoco</a>
</div>
<div class="quadradinho3"></div>
<div class="quadradinho4"></div>
  <!--formas geometricas do fundo-->
  <div id="quadrado">
  </div>
  <div id="circulo">
  </div>
  <div id="triangulo">
  </div>
  <div id="circulo2">
  </div>
</div>
</body>
</html>